.dark-theme {
  // dark theme colours
  --primary: var(--sea-green);
  --primary-dk: var(--sea-green);
  --font-color: var(--lt-grey-3);
  --background: var(--black);
  --bg-elevation-1: var(--grey);
  --bg-elevation-2: var(--grey-1);
  --bg-elevation-3: var(--grey-2);
}

dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--body-font);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  --primary: var(--hot-pink);
  --primary-dk: var(--dk-hot-pink);
  color: var(--font-color);
  background: var(--background);
  font-family: var(--body-font);
  line-height: var(--line-height);
  transition: color 500ms linear;
  transition: background-color 600ms linear;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 2rem 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.highlight {
  color: var(--primary);
  transition: color 500ms linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-weight);
  letter-spacing: var(--letter-spacing);
}

h2 {
  font-size: var(--heading-one);
}

h3 {
  font-size: var(--heading-two);
}
