@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --black: #111;
  --white: #fff;
  --font-black: rgba(0, 0, 0, 0.87);
  --grey: #121212;
  --grey-1: #212121;
  --grey-2: #333;
  --grey-3: #424242;
  --lt-grey: #e0e0e0;
  --lt-grey-1: #eee;
  --lt-grey-2: #f5f5f5;
  --lt-grey-3: #fafafa;
  --hot-pink: hsl(328, 90%, 60%);
  --dk-hot-pink: hsl(328, 90%, 50%);
  --sea-green: hsl(162, 100%, 50%);
  --dk-sea-green: hsl(162, 100%, 40%);
  --font-color: var(--font-black);
  --body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --heading-font: 'Poppins', Verdana, Geneva, sans-serif;
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.dark-theme {
  // dark theme colours
  --primary: var(--sea-green);
  --primary-dk: var(--sea-green);
  --font-color: var(--lt-grey-3);
  background: var(--black);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  header {
    background: var(--grey-1);
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--body-font);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  --primary: var(--hot-pink);
  --primary-dk: var(--dk-hot-pink);
  color: var(--font-color);
  background: var(--lt-grey);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: color 500ms linear;
  letter-spacing: 0.5px;
}

main {
  flex-grow: initial;
}

header {
  background: var(--lt-grey-1);
  font-family: var(--heading-font);
  box-shadow: var(--box-shadow-md);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;

    li {
      margin: 0 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      color: var(--font-color);
      text-decoration: none;
      padding: 0.25rem 0;

      &:hover {
        color: var(--primary-dk);
        border-bottom: 2px var(--primary-dk) solid;
      }
    }
  }
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
